<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <title>Document</title>
    <style>
        * {
            list-style: none;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {

            background: #edfcff;
        }

        header {
            z-index: 100;
            padding: 0px 15px;
            height: 13vh;
            background: #1976d3;
            color: #fff;
            font-size: 25px;
            margin-top: -5px;
        }

        header nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }

        .img-title,
        .icon-name {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .goi img {
            margin-top: 2px;
            height: 12vh;
            width: 120px;
            border-radius: 0;
        }

        .icon {
            height: 50px;
            width: 50px;
            background: green;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
        }


        .box {
            width: 40vw;
            margin: 50px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 0vh;
            height: 50vh;
            background: #fff;
            border-radius: 10px;
            color: black;
            text-align: center;
        }

        .box h3 {
            font-size: 32px;
            margin-bottom: 30px;
            color: #1976d3;
        }

        label {
            display: block;
        }

        label {
            text-align: left;
            font-size: 22px;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            height: 35px;
            outline: none;
            padding: 0 15px;
            font-size: 20px;
            background: none;
            caret-color: #fff;
            border-radius: 5px;
            border: 1px solid #bfbfbf;
            border-bottom-width: 2px;
            transition: all 0.2s ease;
            margin-bottom: 15px;
        }

        #submit {
            height: 50px;

            outline: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            background: #1976d3;
            color: white;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }

        .input-box input {
            margin-top: 20px;
            width: 350px;
            height: 53px;
            color: #000;
            background: none;
            font-size: 24px;
            font-weight: 600;
            border-radius: 4px;
            border: 1px solid #aaa;
            padding: 0 2.85rem 0 1rem;
        }

        .input-box span {
            margin-left: 5px;
            cursor: pointer;
            font-size: 25px;
            font-weight: bold;
            line-height: 53px;
            color: #707070;
        }

        .input-box {
            display: flex;
            align-items: center;
        }

        h2 {
            font-size: 30px;
        }
    </style>

</head>

<body>

    <div>
        <header>
            <nav class="container">
                <li>
                    <div class="img-title">
                        <img src="./images/p14.png" alt="">
                        <div class="tile">Dhak Ghar Nirayat Kendra
                            <p>Customer Portal</p>
                        </div>
                    </div>
                </li>
                <li class="goi images">
                    <img src="./images/i1.jpeg" alt="">
                    <img src="./images/i2.png" alt="">
                </li>
                <li class="icon-name">
                    <div class="icon">
                        <%= user.name[0] %>
                    </div>
                    <div class="name">
                        <%= user.name %>
                    </div>
                </li>
            </nav>
        </header>
        <section>
            <form action="#">
                <div class="box">
                    <div class="container">
                        <h2>Your ID:</h2>
                        <div class="wrapper">
                            <div class="input-box">
                                <input type="text" value="<%= isExisted.assignedid %>" disabled>
                                <span class="material-symbols-rounded"><i class="fa-regular fa-copy"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </section>
        <footer>

        </footer>
    </div>

    <script>
        const lengthSlider =copyIcon = document.querySelector(".input-box span"),
        passwordInput = document.querySelector(".input-box input");
        
                const copyPassword = () => {
                    navigator.clipboard.writeText(passwordInput.value); // copying random password
                    copyIcon.innerHTML = '<i class="fa-solid fa-copy"></i>'; // changing copy icon to tick
                    copyIcon.style.color = "#4285F4";
                    setTimeout(() => { // after 1500 ms, changing tick icon back to copy
                        copyIcon.innerHTML = '<i class="fa-regular fa-copy"></i>';
                        copyIcon.style.color = "#707070";
                    }, 1500);
                }
                copyIcon.addEventListener("click", copyPassword);
    </script>
</body>

</html>