<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form validation in HTML & CSS | CodingNepal</title>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./css/register.css">
    <style>

    </style>

</head>

<body>

    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <section>



    <div class="img-wrapper">
      <img src="./images/p2.png" alt="">
    </div>

    <div class="wrapper">
      <header>SignUp</header>
      <form action="/register" method="POST">
        <div class="field email">
          <div class="input-area">
            <input type="email" name="email" placeholder="Email Address">
            <!-- <i class="icon fas fa-envelope"></i> -->
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Email can't be blank</div>
        </div>
        <div class="field name">
            <div class="input-area">
              <input type="text" name="name" placeholder="Enter Name">
              <!-- <i class="icon fas fa-envelope"></i> -->
              <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Name can't be blank</div>
          </div>
        <div class="field password">
          <div class="input-area">
            <input type="password" name="password" placeholder="Password">
            <!-- <i class="icon fas fa-lock"></i> -->
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Password can't be blank</div>
        </div>
        <div class="field confirm-password">
            <div class="input-area">
              <input type="password" placeholder="Confirm-Password">
              <!-- <i class="icon fas fa-lock"></i> -->
              <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Password can't be blank</div>
        </div>
       
        <div class="field contact">
          <div class="input-area">
            <input type="text" name="contact" placeholder="Enter Contact">
            <!-- <i class="fa-solid fa-phone"></i> -->
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Contact can't be blank</div>
        </div>
        <div class="field address">
          <div class="input-area">
            <input type="text" name="address" placeholder="Enter Address">
            <!-- <i class="fa-solid fa-location-dot"></i> -->
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Address can't be blank</div>
        </div>
        <div class="field pin">
          <div class="input-area">
            <input type="text" name="pin" placeholder="Enter Pincode">
            <!-- <i class="fa-solid fa-location-dot"></i> -->
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          <div class="error error-txt">Pincode can't be blank</div>
        </div>

        <input type="submit" value="Register">
        <div class="sign-txt">Already Registered? <a href="/login">Login now</a></div>
      </form>

    </div>
  </section>

  <footer>
    <p class="footer copyright-text">&#169;copyright | <span>Government of India </span> | 2023</p>
  </footer>

  <script src="./js/register.js"></script>
</body>

</html>